---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }} software blog</title>
    <link>{{ "/blog/" | absoluteUrl(site.url) }}</link>
    <atom:link href="{{ "/feed.xml" | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ site.description | xmlEscape | safe }}</description>
    <language>{{ site.language }}</language>
    {% if collections.posts.length %}
      <lastBuildDate>{{ collections.posts[0].date | dateToRfc822 }}</lastBuildDate>
    {% endif %}
    {% for post in collections.posts %}
      <item>
        <title>{{ post.data.title | xmlEscape | safe }}</title>
        <link>{{ post.url | absoluteUrl(site.url) }}</link>
        <guid>{{ post.url | absoluteUrl(site.url) }}</guid>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <description>{{ post.data.description | xmlEscape | safe }}</description>
      </item>
    {% endfor %}
  </channel>
</rss>
