---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ "/" | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ collections.posts[0].date | htmlDateString }}</lastmod>
  </url>
  <url>
    <loc>{{ "/blog/" | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ collections.posts[0].date | htmlDateString }}</lastmod>
  </url>
  <url>
    <loc>{{ "/tags/" | absoluteUrl(site.url) }}</loc>
    <lastmod>{{ collections.posts[0].date | htmlDateString }}</lastmod>
  </url>
  {% for post in collections.posts %}
    <url>
      <loc>{{ post.url | absoluteUrl(site.url) }}</loc>
      <lastmod>{{ post.date | htmlDateString }}</lastmod>
    </url>
  {% endfor %}
  {% for tag in collections.tagList %}
    {% set taggedPosts = collections[tag] | sortByDateDesc %}
    <url>
      <loc>{{ tag | tagUrl | absoluteUrl(site.url) }}</loc>
      <lastmod>{{ taggedPosts[0].date | htmlDateString }}</lastmod>
    </url>
  {% endfor %}
</urlset>
